	body {
      font-family: Rockwell;
      margin: 20px;
	  
		background-size: cover; 
		background-position: center center; 
		background-repeat: no-repeat; 
		background-attachment: fixed; 
		background-image: linear-gradient(rgba(200,200,200,0.25),rgba(200,200,200,0.10)), url('C:/Users/ADMIN/Documents/Lim-CS3-QuarterProject/stais.jpg');
    }

    h1 {
      text-align: center;
    }

    h2 {
      margin-top: 30px;
    }

    p {
      margin-bottom: 10px;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
    }

    .application {
      margin-top: 30px;
    }

    .question {
      margin-top: 20px;
      font-weight: bold;
    }

    .options {
      margin-top: 10px;
    }

    .footer {
      text-align: center;
      margin-top: 30px;
    }
	
	